@import (reference) "../partials/_header-logo";

.login-container {
  &:before {
    content: '';
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  &:after {
    content: '';
    position: fixed;
    top: 20vh;
    right: 25%;
    bottom: 20vh;
    left: 25%;
    border-radius: 4px;
    background: white;
  }
}

.login-center {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login {
  margin: 0 auto;
  max-width: 720px;
  text-align: center;

  &__logo {
    ._header-logo();

    h1 {
      margin-bottom: 0;
    }
  }

  &__form {
    display: block;
    max-width: 14rem;
    margin: 0 auto;
    position: relative;

    .error-message {
      padding: 0.5rem;
      font-size: 0.85rem;
    }

    label {
      display: block;
      .margin-tb-s;

      input[type="text"], input[type="password"] {
        width: 14rem;
      }
    }

    label input[type="checkbox"] {
      .margin-tb-m;
      .margin-r-s;
    }

    button {
      float: right;
      .margin-t-m;
    }
  }
}