.member-layout {
  &:before {
    content: '';
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: @member-sidebar-width;
    background: #333;

    box-shadow: -5px 0 5px -1px #222 inset;
  }

  &__menu {
    position: absolute;
    left: 0;
    top: 0;
    width: @member-sidebar-width;
    vertical-align: top;
    height: 4rem;
    z-index: 1;
  }

  &__sidebar {
    position: fixed;
    left: 0;
    top: @member-menu-height;
    width: @member-sidebar-width;
    overflow: auto;
    margin-top: 1rem;
    z-index: 0;
    bottom: 0;

    color: white;
  }

  &__menu, &__sidebar {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  &__content {
    transition: margin-right 0.15s ease-in;
    margin-left: @member-sidebar-width;
  }

  &__banner {
    margin-left: @member-sidebar-width;
  }

  &--with-drawer &__content {
    margin-right: @member-sidebar-width;
  }

  &__drawer {
    width: @member-drawer-width;
    position: fixed;
    right: -@member-drawer-width;
    top: 0;
    bottom: 0;
    overflow: auto;
    border-left: 1px solid #ccc;
    transition: right 0.15s ease-in;
  }

  &--with-drawer &__drawer {
    right: 0;
  }
}