.member-layout {
  &:before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: @member-sidebar-width;
    bottom: 0;

    .chrome-frame();

    border-right: 1px solid #ddd;
    box-shadow: none;
  }

  &__menu {
    position: fixed;
    left: 0;
    top: 0;
    width: @member-sidebar-width;
    vertical-align: top;
    height: @member-menu-height;
  }

  &__sidebar {
    position: fixed;
    left: 0;
    top: @member-menu-height;
    width: @member-sidebar-width;
    overflow: auto;
    bottom: 0;
    color: @base1;
  }

  &--with-side-status-bar &__sidebar {
    bottom: @member-side-status-bar-height;
  }

  &--with-status-bar &__content {
    margin-bottom: @member-side-status-bar-height;
  }

  &--with-sticky-notice &__content,
  &--with-sticky-notice &__drawer {
    margin-top: @member-menu-height;
  }

  &__side-status-bar, &__status-bar {
    height: @member-side-status-bar-height;
    line-height: @member-side-status-bar-height;
    position: fixed;
    bottom: 0;
    padding: 0 1rem;

    .chrome();

    box-shadow: 0 -1px 0 0 #ddd;
  }

  &__side-status-bar {
    left: 0;
    width: @member-sidebar-width;
  }

  &__status-bar {
    display:f none;
    left: @member-sidebar-width;
    right: 0;
    font-size: 0.75rem;
  }

  &--with-status-bar {
    display: block;
  }

  &__sticky-notice {
    position: fixed;
    overflow: auto;
    top: 0;
    right: 0;
    left: @member-sidebar-width;
    font-size: 0.85rem;
    background: @blue;
    right: 0;
    color: white;

    .link, .link-button {
      color: white;
      text-decoration: underline;
    }

    p {
      margin: 0;
    }

    padding: 1.5rem 1rem;
  }

  &__menu, &__sidebar {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  &__content {
    transition: right 0.15s ease-in;
    overflow: auto;
    position: absolute;
    left: @member-sidebar-width;
    right: 0;
    top: 0;
    bottom: 0;
  }

  &__banner {
    position: absolute;
    top: 0;
    left: @member-sidebar-width;
    right: 0;
    height: @member-menu-height;
  }

  &--with-drawer &__content, &--with-drawer &__banner {
    right: @member-sidebar-width;
  }

  &--with-banner &__content {
    top: @member-menu-height;
  }

  &__drawer {
    width: @member-drawer-width;
    position: fixed;
    right: -@member-drawer-width;
    top: 0;
    bottom: 0;
    overflow: auto;
    border-left: 1px solid #ccc;
    transition: right 0.15s ease-in;
  }

  &--with-drawer &__drawer {
    right: 0;
  }
}