@import (reference) "../utils/ellipsify";

.page-browser {
  @folder-icon-size: 1.25em;

  font-size: 0.9rem;
  margin: 1rem 0;

  &__folder {
  }

  &__folder &__folder {
    margin-left: 1rem;
  }

  &__folder-page-listing {
    padding: 0;
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
  }

  &__folder-title {
    display: block;
    font-weight: bold;
    text-transform: uppercase;
    width: 100%;
    text-align: left;
    word-break: break-all;
    line-height: 1.5rem;
    padding-left: @folder-icon-size;
    margin-left: -@folder-icon-size;
    .ellipsify();
  }

  &__folder-title .icon {
    display: inline-block;
    width: @folder-icon-size;
    position: absolute;
    line-height: inherit;
    margin-left: -@folder-icon-size;
  }

  &__folder-title, &__page {
    color: inherit;
  }

  &__page {
    display: block;
    padding: 0.25rem 0.5rem;
    padding-left: @folder-icon-size;
    border-radius: 4px;

    &.link {
      text-decoration: none;
    }

    &:hover {
      background: rgba(0,0,0,0.2);
    }

    &--active, &--active:hover {
      background: @blue;
      color: @base5;
    }
  }
}