.space {
  &__title {
    font-size: 1.7em;
    line-height: 2em;
  }

  &__sidebar-container {
    position: fixed;
    left: 0;
    width: 280px;
    overflow: auto;
    top: 0;
    bottom: 0;
    padding: 1em;
  }

  &__content-container {
    margin-left: 280px;
  }
}