.space-browser {
  .link--active {
    font-weight: bold;
  }

  &__current-space-title {
    margin: 0;
    line-height: 4rem;
    height: 4rem;
  }

  &__other-spaces {
    margin-top: 2rem;
    margin-bottom: 2rem 0;
  }

  &__other-spaces-header {
    letter-spacing: -0.5px;
    // font-weight: bold;
    line-height: 1rem;
    margin: 1rem 0;
    text-transform: uppercase;
  }

  &__other-spaces-count {
    font-size: small;
    margin-left: 0.5rem;
  }
}