.loading-container {
  &:before {
    content: '';
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: black;
    z-index: -1;
  }

  &:after {
    content: '';
    position: fixed;
    top: 0;
    right: 25%;
    bottom: 0;f
    left: 25%;
    background: white;
    z-index: -1;
  }
}

.loading {
  margin: 0 auto;
  max-width: 720px;
  text-align: center;
  background: white;

  &__logo {
    h1 {
      font-family: 'akashiregular';
      font-size: 5rem;
      margin-top: 0;

      &::first-letter {
        color: @red;
      }
    }
  }
}