._splash-container() {
  &:before {
    content: '';
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: @base0;
    z-index: -2;
  }

  &:after {
    content: '';
    position: fixed;
    top: 0;
    right: 25%;
    bottom: 0;
    left: 25%;
    // margin: 1rem;
    box-shadow: 0 0 0 10px @base1;
    // box-shadow: 0 1px 3px 0 rgba(0,0,0,0.5);
    // border: solid 1rem @red;
    background: white;
    z-index: -2;
  }
}
