@charset: 'utf-8';

@import "~normalize.css";
@import "~purecss/build/grids-core.css";
@import "~purecss/build/grids-units.css";
@import "~purecss/build/grids-responsive.css";
@import "~codemirror/lib/codemirror.css";
@import "./fonts/starlog-v1.1/style";
@import "./utils/margin";
@import "./utils/padding";

* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@import "./components/space";
@import "./components/space-browser";
@import "./components/space-page";
